[Desktop Entry]
Name=Kor Internal Containment
Name[da]=Kor intern beholder
Name[de]=Interner Container
Name[es]=Contenedor interno Kor
Name[fr]=Encapsulation interne de Kor
Name[mr]=कोर अंतर्गत कंटेनमेंट
Name[nl]=Kor interne insluiting
Name[pt]=Contentor Interno do Kor
Name[pt_BR]=Contêiner interno do Kor
Name[sk]=Vnútorné uzavretie Kor
Name[sv]=Kor intern omgivning
Name[tr]=Kor İç Kapsayıcısı
Name[uk]=Вбудований контейнер Kor
Name[x-test]=xxKor Internal Containmentxx
Name[zh_TW]=Kor 內部容器
Icon=knewsticker
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=internal
NoDisplay=true

X-KDE-Library=plasma_containment_korinternal
X-KDE-PluginInfo-Author=Lubos Lunak
X-KDE-PluginInfo-Email=l.lunak@kde.org
X-KDE-PluginInfo-Name=korinternal
X-KDE-PluginInfo-Version=1.0
#X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
